.home-container {
  text-align: center;
  margin-top: 40px;
}

.home-container h1 {
  color: #004aad;
}

.home-container p {
  max-width: 600px;
  margin: 10px auto;
  font-size: 16px;
  color: #333;
}
